In [4]:
%addconnect name=lake, user=de110922, host=100.127.255.74

Success: 'lake' connection added

In [5]:
%connect lake

Success: 'lake' connection established and activated for user 'de110922'

In [8]:
select databasename from dbc.databases where databasename like 'demo%' order by 1

In [ ]:
select this is junk

In [10]:
select date